<div class="container">

    <ods-dataset-context context="all,nonsuivi,enretard,avenir,prochaine"
                         all-dataset="domaindatasets"
                         enretard-dataset="domaindatasets"
                         enretard-parameters="{'refine.statut_de_publication':'En retard'}"
                         avenir-dataset="domaindatasets"
                         avenir-parameters="{'refine.statut_de_publication':'À venir'}"
                         prochaine-dataset="domaindatasets"
                         prochaine-parameters="{'q':'#null(statut_de_publication)'}"
                         nonsuivi-dataset="domaindatasets"
                         nonsuivi-parameters="{'q':'#null(cycle)'}">

        <!-- Part 0 : All -->
        <span ods-aggregation="countall"
              ods-aggregation-context="all"
              ods-aggregation-function="count">
        {{ variables['all']['count'] = countall ; '' }}
    </span>

        <!-- Part 1 : Cycles -->
        <span ods-analysis="analysecycles"
              ods-analysis-context="all"
              ods-analysis-x="cycle"
              ods-analysis-serie-count="COUNT()">
        {{ variables['cycles'] = (analysecycles.results | toObject : 'x') ; '' }}
    </span>

        <span ods-aggregation="countnonsuivi"
              ods-aggregation-context="nonsuivi"
              ods-aggregation-function="count">
        {{ variables['Non suivi'] = countnonsuivi ; '' }}
    </span>

        <!-- Part 2 : Périodicité -->
        <span ods-analysis="analyseenretard"
              ods-analysis-context="enretard"
              ods-analysis-x="periodicity"
              ods-analysis-serie-count="COUNT()">
        {{ variables['periodicite']['enretard'] = (analyseenretard.results | toObject : 'x') ; '' }}
    </span>

        <span ods-analysis="analyseavenir"
              ods-analysis-context="avenir"
              ods-analysis-x="periodicity"
              ods-analysis-serie-days="MAX(modifieddayssincenow)">
        {{ variables['periodicite']['avenir'] = (analyseavenir.results | toObject : 'x') ; '' }}
    </span>

        <span ods-analysis="analyseprochaine"
              ods-analysis-context="prochaine"
              ods-analysis-x="prochaine_echeance"
              ods-analysis-x-periodicity="periodicity"
              ods-analysis-serie-count="COUNT()">
        <!-- Go over each results (ie. next publish date for each periodicity state), and keep the first date of each periodicity state
            Expected results is the first publish date that comes in the future for each periodicity
        -->
        <span ng-repeat="item in analyseprochaine.results">
            {{
            prochaine_echeance = item.x.prochaine_echeance.year+'/'+(10 > item.x.prochaine_echeance.month?'0':'')+item.x.prochaine_echeance.month+'/'+(10 > item.x.prochaine_echeance.day?'0':'')+item.x.prochaine_echeance.day;
            variables['periodicite']['prochaine'][item.x.periodicity] = (variables['periodicite']['prochaine'][item.x.periodicity]?variables['periodicite']['prochaine'][item.x.periodicity]:prochaine_echeance);
            ''
            }}
        </span>
    </span>

        <div class="title-bloc spacer-small">
            <div class="title-bloc-header">{{ variables['all']['count'] | number }} jeux de données</div>
            <a href="/pages/jeuxdedonnees">Voir tous les jeux de données <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>

        <div class="grid">
            <div class="grid-item hoverable extraction">
                <a href="/pages/jeuxdedonnees/?refine.cycle=Collecter" class="kpi-card">
                    <div class="kpi-description">
                        Collecter
                    </div>
                    <div class="kpi-title">
                        {{ variables['cycles']['Collecter'].count || 0 | number }}
                    </div>
                </a>
            </div>
            <div class="grid-item hoverable edition">
                <a href="/pages/jeuxdedonnees/?refine.cycle=Éditer" class="kpi-card">
                    <div class="kpi-description">
                        Éditer
                    </div>
                    <div class="kpi-title">
                        {{ variables['cycles']['Éditer'].count || 0 | number }}
                    </div>
                </a>
            </div>
            <div class="grid-item hoverable miseenforme">
                <a href="/pages/jeuxdedonnees/?refine.cycle=Mettre en forme" class="kpi-card">
                    <div class="kpi-description">
                        Mettre en forme
                    </div>
                    <div class="kpi-title">
                        {{ variables['cycles']['Mettre en forme'].count || 0 | number }}
                    </div>
                </a>
            </div>
            <div class="grid-item hoverable maj">
                <a href="/pages/jeuxdedonnees/?refine.cycle=Mettre à jour" class="kpi-card">
                    <div class="kpi-description">
                        Mettre à jour
                    </div>
                    <div class="kpi-title">
                        {{ variables['cycles']['Mettre à jour'].count || 0 | number }}
                    </div>
                </a>
            </div>

            <div class="grid-item hoverable finalise">
                <a href="/pages/jeuxdedonnees/?refine.cycle=Finalisé" class="kpi-card kpi-card-thin">
                    <div class="kpi-description">
                        Finalisé : {{ variables['cycles']['Finalisé'].count || 0 | number }}
                    </div>
                </a>
            </div>
            <div class="grid-item hoverable nonsuivi">
                <a href="/pages/jeuxdedonnees/?refine.cycle=Non suivi" class="kpi-card kpi-card-thin">
                    <div class="kpi-description">
                        Non suivi : {{ variables['Non suivi'] || 0 | number }}
                    </div>
                </a>
            </div>
        </div>
        <div class="information-bloc"
             ng-init="pop = {'state':false}">
            <div ng-click="pop.state = true">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                Plus d'information sur les cycles
            </div>
            <div class="ods-pop-in"
                 ng-if="pop.state == true">
                <div class="ods-pop-in__container information-content">
                    <div class="title-bloc align-center">
                        <div class="title-bloc-header">Cycles de publication - App supervision</div>
                        <a href="#" ng-click="pop.state = false">Fermer <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="information-title">
                        Collecter
                    </div>
                    <div class="information-description">
                        A l'initialisation d'un jeu, <span class="information-highlight">collecter</span> les données consiste à
                        identifier leur source et leur
                        producteur. Dans la plateforme, il s'agit donc d'un jeu créé et sauvegardé, avec a minima un titre et
                        quelques informations. Pour les jeux connectés à des sources distantes (avec une URL en source), il peut
                        s'agir de tester le paramétrage de ce lien ainsi que de choisir un planificateur avec une fréquence de
                        mise à jour.
                    </div>
                    <div class="information-title">
                        Éditer
                    </div>
                    <div class="information-description">
                        <span class="information-highlight">Editer</span> un jeu de données consiste à modifier les données avec
                        des processeurs en respect des bonnes
                        pratiques partagées au sein de l'organisation. L'objectif de cette étape peut être très varié: rendre
                        des
                        catégories compatibles avec les référentiels métiers par exemple, ajouter des données géographiques pour
                        faciliter leur cartographie, vérifier les types notamment entier si l'on compte des individus. Il peut
                        être
                        pertinent de détailler la description des colonnes pour faciliter la compréhension des choix.
                    </div>
                    <div class="information-title">
                        Mettre en forme
                    </div>
                    <div class="information-description">
                        <span class="information-highlight">Mettre en forme</span> un jeu de données consiste à définir ses
                        visuels par défaut (table, analyse,
                        carte,
                        image, calendrier). Cette étape demande souvent une concertation avec plusieurs parties prenantes
                        comme les
                        métiers qui connaissent parfaitement les données et les communicants par exemple qui peuvent servir
                        d'utilisateurs test pour évaluer la lisibilité des données à venir.
                    </div>
                    <div class="information-title">
                        Mettre à jour
                    </div>
                    <div class="information-description">
                        Parfois complexe en raison d'un changement de modèle par exemple, <span class="information-highlight">mettre à jour</span>
                        signifie que le
                        jeu de
                        données est bloqué dans son cycle de publication et qu'il est nécessaire de lui apporter une
                        attention
                        particulière. En particulier, si des discussions avec des parties prenantes externes aux producteurs
                        comme
                        la DSI pour des raisons de sécurité ou autres, il est important de distinguer les jeux de données
                        dans cet
                        état.
                    </div>
                    <div class="information-title">
                        Finalisé
                    </div>
                    <div class="information-description">
                        Un jeu de données <span class="information-highlight">finalisé</span>> est un jeu validé pour
                        publication et partage, sur lequel toutes les
                        actions
                        de description et mise en forme ont été réalisées.
                    </div>
                    <div class="information-title">
                        Non suivi
                    </div>
                    <div class="information-description">
                        Certains jeux de données n'ont pas besoin d'être mis à jour ou ne sont <span
                            class="information-highlight">pas suivis</span> dans la
                        mesure où ils
                        contiennent des données statiques ou non concernées par la supervision de leur cycle de
                        production. Pour
                        exemple, un référentiel automatisé comme les codes communes fédérés depuis le réseau de données,
                        une
                        information limitée dans le temps comme les dates et lieux d'un festival.
                    </div>
                    <a href="#" ng-click="pop.state = false">Fermer <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
                <div class="ods-pop-in__backdrop" ng-click="pop.state = false"></div>
            </div>
        </div>
        <!--%- include('_grid-logigramme.ejs'); -%-->

        <div class="title-bloc spacer-large">
            <div class="title-bloc-header">Prochaines mises à jour des jeux de données</div>
            <a href="/pages/periodique">Voir toutes les mises à jour <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>

        <div class="grid">
            <div class="grid-item hebdomadaires" ng-if="true">
                {{
                title = 'hebdomadaires';
                key = 'Hebdomadaire';
                ''
                }}
                <div class="periodicity-card">
                    <div class="periodicity-title">
                        {{ title | capitalize }}
                    </div>
                    <div class="periodicity-content"
                         ng-if="variables['periodicite']['enretard'][key] || variables['periodicite']['avenir'][key] || variables['periodicite']['prochaine'][key]">
                        <div class="periodicity-flags">
                            <a href="{{ '/pages/periodique?refine.periodicity=' + key + '&refine.statut_de_publication=En retard' }}" class="periodicity-flag retard hoverable left-side"
                               ng-if="variables['periodicite']['enretard'][key].count > 0">{{
                                variables['periodicite']['enretard'][key].count | number }} mise(s) à jour en retard
                            </a>
                            <a href="{{ '/pages/periodique?refine.periodicity=' + key + '&refine.statut_de_publication=À%20venir' }}" class="periodicity-flag avenir hoverable left-side"
                               ng-if="variables['periodicite']['avenir'][key]['days']">Prochaine mise à jour dans {{
                                variables['periodicite']['avenir'][key]['days'] | math : 'abs' | number }} jour(s)
                            </a>
                            <div class="periodicity-flag prochaine"
                                 ng-if="variables['periodicite']['prochaine'][key] && !variables['periodicite']['avenir'][key]['days']">Prochaine mise à jour le {{ variables['periodicite']['prochaine'][key] | moment | date
                                }}
                            </div>
                        </div>
                        <a href="{{ '/pages/periodique?refine.periodicity=' + key }}" class="periodicity-link-seeall">
                            Voir toutes les prochaines mises à jour <span class="nowrap">{{ title }} <i class="fa fa-angle-right"
                                                                                                        aria-hidden="true"></i></span>
                        </a>
                    </div>
                    <div ng-if="!(variables['periodicite']['enretard'][key] || variables['periodicite']['avenir'][key] || variables['periodicite']['prochaine'][key])">
                        Pas de donnée pour cette périodicité
                    </div>
                </div>
            </div>
            <div class="grid-item mensuelles" ng-if="true">
                {{
                title = 'mensuelles';
                key = 'Mensuelle';
                ''
                }}
                <div class="periodicity-card">
                    <div class="periodicity-title">
                        {{ title | capitalize }}
                    </div>
                    <div class="periodicity-content"
                         ng-if="variables['periodicite']['enretard'][key] || variables['periodicite']['avenir'][key] || variables['periodicite']['prochaine'][key]">
                        <div class="periodicity-flags">
                            <a href="{{ '/pages/periodique?refine.periodicity=' + key + '&refine.statut_de_publication=En retard' }}" class="periodicity-flag retard hoverable left-side"
                               ng-if="variables['periodicite']['enretard'][key].count > 0">{{
                                variables['periodicite']['enretard'][key].count | number }} mise(s) à jour en retard
                            </a>
                            <a href="{{ '/pages/periodique?refine.periodicity=' + key + '&refine.statut_de_publication=À%20venir' }}" class="periodicity-flag avenir hoverable left-side"
                               ng-if="variables['periodicite']['avenir'][key]['days']">Prochaine mise à jour dans {{
                                variables['periodicite']['avenir'][key]['days'] | math : 'abs' | number }} jour(s)
                            </a>
                            <div class="periodicity-flag prochaine"
                                 ng-if="variables['periodicite']['prochaine'][key] && !variables['periodicite']['avenir'][key]['days']">Prochaine mise à jour le {{ variables['periodicite']['prochaine'][key] | moment | date
                                }}
                            </div>
                        </div>
                        <a href="{{ '/pages/periodique?refine.periodicity=' + key }}" class="periodicity-link-seeall">
                            Voir toutes les prochaines mises à jour <span class="nowrap">{{ title }} <i class="fa fa-angle-right"
                                                                                                        aria-hidden="true"></i></span>
                        </a>
                    </div>
                    <div ng-if="!(variables['periodicite']['enretard'][key] || variables['periodicite']['avenir'][key] || variables['periodicite']['prochaine'][key])">
                        Pas de donnée pour cette périodicité
                    </div>
                </div>
            </div>
            <div class="grid-item trimestrielles" ng-if="true">
                {{
                title = 'trimestrielles';
                key = 'Trimestrielle';
                ''
                }}
                <div class="periodicity-card">
                    <div class="periodicity-title">
                        {{ title | capitalize }}
                    </div>
                    <div class="periodicity-content"
                         ng-if="variables['periodicite']['enretard'][key] || variables['periodicite']['avenir'][key] || variables['periodicite']['prochaine'][key]">
                        <div class="periodicity-flags">
                            <a href="{{ '/pages/periodique?refine.periodicity=' + key + '&refine.statut_de_publication=En retard' }}" class="periodicity-flag retard hoverable left-side"
                               ng-if="variables['periodicite']['enretard'][key].count > 0">{{
                                variables['periodicite']['enretard'][key].count | number }} mise(s) à jour en retard
                            </a>
                            <a href="{{ '/pages/periodique?refine.periodicity=' + key + '&refine.statut_de_publication=À%20venir' }}" class="periodicity-flag avenir hoverable left-side"
                               ng-if="variables['periodicite']['avenir'][key]['days']">Prochaine mise à jour dans {{
                                variables['periodicite']['avenir'][key]['days'] | math : 'abs' | number }} jour(s)
                            </a>
                            <div class="periodicity-flag prochaine"
                                 ng-if="variables['periodicite']['prochaine'][key] && !variables['periodicite']['avenir'][key]['days']">Prochaine mise à jour le {{ variables['periodicite']['prochaine'][key] | moment | date
                                }}
                            </div>
                        </div>
                        <a href="{{ '/pages/periodique?refine.periodicity=' + key }}" class="periodicity-link-seeall">
                            Voir toutes les prochaines mises à jour <span class="nowrap">{{ title }} <i class="fa fa-angle-right"
                                                                                                        aria-hidden="true"></i></span>
                        </a>
                    </div>
                    <div ng-if="!(variables['periodicite']['enretard'][key] || variables['periodicite']['avenir'][key] || variables['periodicite']['prochaine'][key])">
                        Pas de donnée pour cette périodicité
                    </div>
                </div>
            </div>
            <div class="grid-item annuelles" ng-if="true">
                {{
                title = 'annuelles';
                key = 'Annuelle';
                ''
                }}
                <div class="periodicity-card">
                    <div class="periodicity-title">
                        {{ title | capitalize }}
                    </div>
                    <div class="periodicity-content"
                         ng-if="variables['periodicite']['enretard'][key] || variables['periodicite']['avenir'][key] || variables['periodicite']['prochaine'][key]">
                        <div class="periodicity-flags">
                            <a href="{{ '/pages/periodique?refine.periodicity=' + key + '&refine.statut_de_publication=En retard' }}" class="periodicity-flag retard hoverable left-side"
                               ng-if="variables['periodicite']['enretard'][key].count > 0">{{
                                variables['periodicite']['enretard'][key].count | number }} mise(s) à jour en retard
                            </a>
                            <a href="{{ '/pages/periodique?refine.periodicity=' + key + '&refine.statut_de_publication=À%20venir' }}" class="periodicity-flag avenir hoverable left-side"
                               ng-if="variables['periodicite']['avenir'][key]['days']">Prochaine mise à jour dans {{
                                variables['periodicite']['avenir'][key]['days'] | math : 'abs' | number }} jour(s)
                            </a>
                            <div class="periodicity-flag prochaine"
                                 ng-if="variables['periodicite']['prochaine'][key] && !variables['periodicite']['avenir'][key]['days']">Prochaine mise à jour le {{ variables['periodicite']['prochaine'][key] | moment | date
                                }}
                            </div>
                        </div>
                        <a href="{{ '/pages/periodique?refine.periodicity=' + key }}" class="periodicity-link-seeall">
                            Voir toutes les prochaines mises à jour <span class="nowrap">{{ title }} <i class="fa fa-angle-right"
                                                                                                        aria-hidden="true"></i></span>
                        </a>
                    </div>
                    <div ng-if="!(variables['periodicite']['enretard'][key] || variables['periodicite']['avenir'][key] || variables['periodicite']['prochaine'][key])">
                        Pas de donnée pour cette périodicité
                    </div>
                </div>
            </div>
        </div>

    </ods-dataset-context>
</div>
