<div class="container"
     ng-init="variables = {}">

    <ods-dataset-context context="all"
                     all-dataset="domaindatasets"
                     all-urlsync="true"

                     ng-init="variables = {
                'selected': {
                        'periodicity': all.parameters['refine.periodicity'] || 'Toutes',
                        'statut_de_publication': all.parameters['refine.statut_de_publication'] || 'Tous'},
                'focusedDropdown': ''
                }">
    {{
    all.parameters['disjunctive.periodicity'] = true;
    all.parameters['disjunctive.statut_de_publication'] = true;
    all.parameters['q.filter'] = 'NOT #null(prochaine_echeance)';
    all.parameters['sort'] = 'modifieddayssincenow';
    ''
    }}


    <div class="header">
        <a href="/pages/action" class="back-button" ods-tooltip="Retour à la supervision">
        </a>
        <div class="title">
            Prochaines mises à jour des jeux de données
        </div>
    </div>

    <div class="app-box">

        <div class="search-module">
    <i class="fa fa-search search-module-icon" aria-hidden="true"></i>
    <input placeholder="Rechercher un jeu de données"
           ng-model="all.parameters['q']"
           ng-model-options="{ updateOn: 'keyup', debounce: { 'default': 300, 'blur': 0 }}"
           class="search-module-input"
           type="text"/>
    <button title="Effacer la recherche"
            class="search-module-clear"
            ng-if="all.parameters['q']"
            ng-click="all.parameters['q'] = undefined">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
</div> 

        <div class="app-row">
            <!--
                Pill filter : Périodicité
            -->
            <div class="dropdown" 
                 ods-facet-results="facetsperiodicity" 
                 ods-facet-results-context="all"
                 ods-facet-results-facet-name="periodicity" 
                 ods-facet-results-sort="alphanum">
                <button ng-click="variables.focusedDropdown = (variables.focusedDropdown == 'periodicity' ? '' : 'periodicity');"
                        class="dropdown-button"
                        ng-class="{'dropdown-button-active': variables.selected.periodicity != 'Toutes',
                                  'dropdown-button-open': variables.focusedDropdown == 'periodicity'}"
                        id="periodicity-dropdown-button"
                        aria-haspopup="true"
                        aria-expanded="variables.focusedDropdown == 'periodicity'">
                    {{ (variables.selected.periodicity == 'Toutes' ? 'Périodicité' : variables.selected.periodicity) | capitalize }}
                </button>
                <div class="dropdown-menu"
                     ng-class="{'dropdown-visible' : variables.focusedDropdown == 'periodicity' }"
                     aria-labelledby="periodicity-dropdown-button">
                    <div class="dropdown-title">
                        Périodicité
                    </div>
                    <ul class="dropdown-items">
                        <li class="dropdown-item">
                            <input class="dropdown-input" 
                                   type="radio" 
                                   name="periodicity" 
                                   ng-model="variables.selected.periodicity"
                                   value="Toutes" 
                                   id="periodicity-all"/>
                            <label class="dropdown-label" 
                                   for="periodicity-all">
                                Toutes
                            </label>
                        </li>
                        <li class="dropdown-item" 
                            ng-repeat="facet in facetsperiodicity">
                            <input class="dropdown-input" 
                                   type="radio" 
                                   name="periodicity" 
                                   ng-model="variables.selected.periodicity"
                                   ng-value="facet.path" 
                                   id="{{ facet.path }}"/>
                            <label class="dropdown-label" 
                                   for="{{ facet.path }}">
                                {{ facet.name | capitalize }}
                            </label>
                        </li>
                        {{ all.parameters['refine.periodicity'] = (variables.selected.periodicity == 'Toutes' ? undefined : variables.selected.periodicity); '' }}
                    </ul>
                </div>
            </div>

            <!--
                Pill filter : Statut
            -->
            <div class="dropdown" 
                 ods-facet-results="facetsstatut" 
                 ods-facet-results-context="all"
                 ods-facet-results-facet-name="statut_de_publication" 
                 ods-facet-results-sort="alphanum">
                {{ statuts = (facetsstatut | toObject : 'path'); '' }}

                <button ng-click="variables.focusedDropdown = (variables.focusedDropdown == 'statut' ? '' : 'statut');"
                        class="dropdown-button"
                        ng-class="{'dropdown-button-active': variables.selected.statut_de_publication != 'Tous',
                                   'dropdown-button-open': variables.focusedDropdown == 'statut'}">
                    {{ (variables.selected.statut_de_publication == 'Tous' ? 'Statut de mise à jour' : variables.selected.statut_de_publication) | capitalize }}
                </button>
                <div class="dropdown-menu"
                     ng-class="{'dropdown-visible' : variables.focusedDropdown == 'statut' }">
                    <div class="dropdown-title">
                        Statut de mise à jour
                    </div>
                    <ul class="dropdown-items">
                        <li class="dropdown-item">
                            <input class="dropdown-input" 
                                   type="radio" 
                                   name="statut" 
                                   ng-model="variables.selected.statut_de_publication"
                                   value="Tous" 
                                   id="statut-tous"/>
                            <label class="dropdown-label" 
                                   for="statut-tous">
                                Tous
                            </label>
                        </li>
                        <div class="dropdown-item" 
                             ng-if="statuts['En retard']">
                            <input class="dropdown-input" 
                                   type="radio" 
                                   name="statut" 
                                   ng-model="variables.selected.statut_de_publication"
                                   value="En retard" 
                                   id="enretard"/>
                            <label class="dropdown-label" 
                                   for="enretard">
                                <div class="periodicity-flag retard">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    Mises à jour en retard
                                </div>
                            </label>
                        </div>
                        <div class="dropdown-item" 
                             ng-if="statuts['À venir']">
                            <input class="dropdown-input" 
                                   type="radio" 
                                   name="statut" 
                                   ng-model="variables.selected.statut_de_publication"
                                   value="À venir" 
                                   id="avenir"/>
                            <label class="dropdown-label" 
                                   for="avenir">
                                <div class="periodicity-flag avenir">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    Mises à jour imminentes
                                </div>
                            </label>
                        </div>

                        {{ all.parameters['refine.statut_de_publication'] = (variables.selected.statut_de_publication == 'Tous' ? undefined : variables.selected.statut_de_publication); '' }}
                    </ul>
                </div>
            </div>
        </div>
        
        <table ods-get-window-layout="tablelo"
       ods-results="datasets"
       ods-results-context="all"
       ods-results-max="100"
       class="table-advanced">
    <thead>
        <tr class="gridlayout">
            <th class="borderless col-nb-1" scope="col">Jeu de données</th>
            <th class="borderless col-nb-2" scope="col" ng-if="tablelo.width > 850">Contact</th>
            <th class="borderless col-nb-3" scope="col" ng-if="tablelo.width > 800">Périodicité</th>
            <th class="borderless col-nb-4" scope="col"></th>
            <th class="borderless col-nb-5" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="gridlayout"
            ng-repeat-start="dataset in datasets">
            <td class="col-nb-1 inlined-content"
                ng-click="variables.details = (variables.details == dataset.fields.dataset_id?'':dataset.fields.dataset_id)"
                ng-class="{'details-active': variables.details == dataset.fields.dataset_id}">
                <ods-theme-picto theme="{{ dataset.fields.theme }}"></ods-theme-picto>
                <div class="truncate">
                    {{dataset.fields.title}}
                </div>
                <div class="details-text">
                    - Détails
                </div>
            </td>
            <td class="col-nb-2" ng-if="tablelo.width > 850">
                <span>{{ dataset.fields.admin_point_de_contact_nom }}</span>
            </td>
            <td class="col-nb-3" ng-if="tablelo.width > 800">
                {{ dataset.fields.periodicity | capitalize }}
            </td>
            <td class="col-nb-4 periodicity-flag-container">
                <div class="periodicity-flag right-side retard"
  ng-if=" dataset.fields.statut_de_publication == 'En retard'">
  retard de {{ dataset.fields.modifieddayssincenow }} jours
</div>

<div class="periodicity-flag right-side avenir"
  ng-if=" dataset.fields.statut_de_publication == 'À venir'">
  dans {{ dataset.fields.modifieddayssincenow|math:'abs' }} jours
</div>

<div class="periodicity-flag right-side prochaine"
  ng-if="!dataset.fields.statut_de_publication">
  Le {{ dataset.fields.prochaine_echeance|date:'d MMM' }}
</div>

            </td>
            <td class="col-nb-5">
                <div class="table-dropdown-container">
                    <button class="table-dropdown-button"
                            ng-click="variables.focusedDropdown = (variables.focusedDropdown == dataset.fields.dataset_id ? '' : dataset.fields.dataset_id)"
                            ng-class="{'table-dropdown-button-active': variables.focusedDropdown == dataset.fields.dataset_id}">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>    
                    </button>
                    <div class="table-dropdown"
                        ng-class="{'table-dropdown-visible' : variables.focusedDropdown == dataset.fields.dataset_id }">
                        <a target="_blank" 
                        href="{{ '/explore/dataset/' + dataset.fields.dataset_id + '/?' }}"
                        class="table-dropdown-item">
                            Explorer
                        </a>
                        <a target="_blank"
                        href="{{ '/backoffice/catalog/datasets/' + dataset.fields.dataset_id + '/#processing' }}"
                        class="table-dropdown-item">
                        Modifier
                        </a>
                    </div>
                </div>
            </td>
        </tr>

        <tr class="details"
            ng-repeat-end
            ng-show="variables.details == dataset.fields.dataset_id">
            <td class="details-col-nb-1" colspan="0">
                <ul class="metas">
                    <li class="meta">
                        <span class="metaname">Identifiant :</span><span
                                class="metavalue">{{ dataset.fields.dataset_id }}</span>
                    </li>
                    <li class="meta">
                        <span class="metaname">Thème :</span><span class="metavalue">{{ dataset.fields.theme }}</span>
                    </li>
                    <li class="meta">
                        <span class="metaname">Licence :</span><span class="metavalue">{{ dataset.fields.license }}</span>
                    </li>
                    <li class="meta">
                        <span class="metaname">Date de dernière modification :</span><span class="metavalue">{{ dataset.fields.modified | date }}</span>
                    </li>

                    <li class="meta" ng-if="tablelo.width <= 850">
                        <span class="metaname">Contact :</span><span class="metavalue">{{ dataset.fields.admin_point_de_contact_nom }}</span>
                    </li>
                    <li class="meta" ng-if="tablelo.width <= 800">
                        <span class="metaname">Périodicité :</span><span
                                class="metavalue">{{ dataset.fields.periodicity }}</span>
                    </li>
                    <li class="meta contact">
                        <span class="metaname">Email :</span><span class="metavalue">{{ dataset.fields.admin_point_de_contact_email }} ({{ dataset.fields.admin_point_de_contact_nom }})</span>
                        <ods-clipboard-input value="dataset.fields.admin_point_de_contact_email"></ods-clipboard-input>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>


        <div class="dropdown-backdrop" 
                 ng-click="variables.focusedDropdown = ''"
                 ng-if="variables.focusedDropdown"></div>
                 
    </div>
    </ods-dataset-context>
</div>
